.ot-preference-header
{
display:none;
}

.ot-preference-title
{
display:none;
}

.user-banner
{
display:none;
}

.ot-preference-sidebar
{
display:none;
}

#cec53b24-e924-417d-9366-bd226e7980a7
{
display:none; 
}
